doctype html
html
    head
        meta(charset="utf-8")
        block title
            title Hello Kitty
        meta(content="Дмитрий Рыбкин" name="author")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        //Main project style
        link(rel='stylesheet' href='css/app.css')
        link(rel="icon" href="assets/img/logo.png")


    body#body

        script(src='js/vendor.js' defer)
        script(src='js/app.js' defer)